/*
 * Licensed local webfonts in /fonts.
 */

@font-face {
  font-family: "American Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/american-grotesk-regular.woff2") format("woff2");
}

@font-face {
  font-family: "American Grotesk";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/american-grotesk-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Society";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Society-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Society";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Society-Italic.woff2") format("woff2");
}
